[2016-01-09 13:54] JoeyAndres opened #1 "Fix ionRadio button"
With ionic [1.1.1](https://github.com/driftyco/ionic/commit/11232d4), we need to update ionRadio so that  it works well with also 1.1.1 styling.

[2016-01-09 13:55] #1 closed

[2016-02-02 02:18] JoeyAndres opened #2 "hasBouncing to be patform dependent."

[2016-02-02 02:22] JoeyAndres opened #3 "http://ionicframework.com/docs/nightly/api/directive/ionScroll/"

[2016-02-02 06:38] JoeyAndres commented on #3
Note, create a config thing so we can have:

[code]

[2016-02-04 13:22] JoeyAndres commented on #3
First slice dine in wip-Scroll branch.

[2016-02-04 14:01] JoeyAndres commented on #3
https://github.com/meteor/meteor/blob/dc3cd6eb92f2bdd1bb44000cdd6abd1e5d0285b1/packages/reactive-var/reactive-var.js

[2016-02-05 07:38] JoeyAndres commented on #3
Done.

[2016-02-05 07:38] #3 closed

[2016-02-05 09:36] cyclops24 opened #4 "Side Menu not working"
Hi @JoeyAndres ,
I test your [demo](http://jandres-ionic.meteor.com/) all things worked well but Side Menu not working for me. (Side Menu worked well for me on meteoric demo version)
I try using firefox and chromium.

[2016-02-05 13:06] JoeyAndres commented on #4
Crap. I removed while working on ionScroll. I'll add it back. Sorry any headaches that I've caused.

[2016-02-05 13:11] JoeyAndres commented on #4
It's back now.

[2016-02-05 13:14] JoeyAndres commented on #4
The problem now is that iscroll's event is propagating to the sidemenus. Making a horizontal scroll open side menu. This should be fixed easily.

[2016-02-05 14:59] cyclops24 commented on #4
Hi,
Thanks @JoeyAndres it's working now but I don't undrestand this:

[2016-02-05 15:06] cyclops24 opened #5 "please update GUIDE.md"
Hi,
First thanks for maintaining this awesome package and continue mobile development with blaze.
I want to switch to your version but saw that you are using another version of [ionic-scss](https://github.com/sebakerckhof/meteor-ionic-sass/) package.
I suggest that update [GUIDE.md](https://github.com/JoeyAndres/meteor-ionic/blob/master/GUIDE.md) and add new notes about your version setup.

Thanks

[2016-02-05 15:13] JoeyAndres commented on #5
@cyclops24 Yeah, I'll stop developing for a moment and focus a day or two for that. I've been meaning to do this for a while, but you know, addiction.

[2016-02-05 15:14] JoeyAndres commented on #4
@cyclops24 Go to http://jandres-ionic.meteor.com/scroll and try scrolling right, it should open side menu, even though it should just scroll content horizontally. There are a couple of demos not in home screen.

[2016-02-05 15:16] cyclops24 opened #6 "upgrade to ionic2"
Hi,
Do you have any plan to upgrade meteor-ionic to [ionic2](http://ionicframework.com/docs/v2/getting-started/installation/) ?
ionic 2 has beautiful material design and many other new things.

[2016-02-05 15:19] JoeyAndres commented on #6
@cyclops24 For sure.

[2016-02-05 15:26] cyclops24 commented on #4
@JoeyAndres Oh I see now.

[2016-02-05 15:28] cyclops24 commented on #5
@JoeyAndres Thanks for your attention man.

[2016-02-05 15:39] cyclops24 commented on #6
@JoeyAndres I'm so happy to hear this. I think all awesome package based on blaze going to die for meteor 1.3 and after that.
I'm very happy now to see this awesome package going to live.
Please tell me if any type of help needed man.

[2016-02-05 18:31] JoeyAndres commented on #6
@cyclops24 Sure. I'll clean up documentation. I have actually started http://meteoric-doc.meteor.com/, which is  interesting just by itself (pseudo clone of ionic doc). Once I cleaned things up and setup coding standards, I'll open this for pr.

[2016-02-05 19:27] cyclops24 opened #7 "loading spinner not show"
Hi @JoeyAndres ,
I test demo app on a android device and go to [loading page](http://jandres-ionic.meteor.com/loading) but spinner animation and icons not shown for me after that I test online version and see that issue also there.

[2016-02-05 19:35] cyclops24 commented on #6
@JoeyAndres Wooo, it's another good news tonight and very interesting for me, especially I love new meteoric icon.

Thanks @JoeyAndres you save my dreams man.

[2016-02-05 19:39] cyclops24 commented on #4
@JoeyAndres I test Side Menu on a android device. It open but when I tap outside it's not close and when I try to close with tap and pull it's misbehave. I think this also related to iscroll because I haven't this problem with previous version.

[2016-02-05 20:01] cyclops24 opened #8 "header bar transition on page change not working"
Hi @JoeyAndres ,
First excuse me if I post many issue. I see that transition on route change (page change animation) not working now.
You can compare [this](http://meteor-ionic.meteor.com/) and [this](http://jandres-ionic.meteor.com/).

[2016-02-05 20:52] JoeyAndres commented on #8
@cyclops24 Don't worry about posts. I need as much feedback as possible.

Anyway, I'm gonna see if ionic 1.2 changed their transition. This is usually in css.

[2016-02-06 05:09] cyclops24 commented on #8
@JoeyAndres Do you switch to ionic 1.2 now?

[2016-02-06 05:16] cyclops24 opened #9 "Text looks Blurred on Android device"
Hi @JoeyAndres ,
I have same issue with [this stackoverflow question](http://stackoverflow.com/questions/24492490/text-looks-blurred-and-cheap-in-android-hybrid-app-using-ionic-framework) when use ionic in meteor.
In the past when I used ionic alone I didn't have this issue.

When app runs on the real device some text blurred and unclear line above stackoverflow question image.
Can you any idea ab

[2016-02-06 05:17] JoeyAndres commented on #8
@cyclops24 yes, I'm doing my development around 1.2 atm. I'll update this post once I got the documentation going.

[2016-02-06 05:18] cyclops24 opened #10 "spinner freeze on Android device"
Hi @JoeyAndres ,
When I build your demo app and run it on a real android device spinner freeze and no animation available.
I talked about this page:
http://jandres-ionic.meteor.com/spinner

[2016-02-06 12:51] cyclops24 opened #11 "SideMenu scroll when only one SideMenu used"
Hi @JoeyAndres ,
When we use only one side menu (right or left) other side tap and pull must be disable to prevent white extra partial space.
See below Images:
![screen shot 2016-02-06 at 16 35 17](https://cloud.githubusercontent.com/assets/8266479/12866834/83363610-ccf1-11e5-95f6-21c3449f93d8.png)

![screen shot 2016-02-06 at 16 43 57](https://cloud.githubusercontent.com/assets/8266479/12866835/8

[2016-02-06 13:31] cyclops24 opened #12 "SideMenu extra white space on tap and pull from each side"
Hi @JoeyAndres ,
I used Side Menu in all of my project one other issue that exist in meteoric version (and ok on ionic version) is when you tap and pull page to a side and pull more than side menu width an extra space occur between content and side menu and a small horizontal scroll shown below side menu. See below image for more info:
![screenshot from 2016-02-06 16 53 08](https://cloud.githubuse

[2016-02-06 13:47] cyclops24 commented on #11
Oh I find a useful option for fix this.
On [this issue](https://github.com/meteoric/meteor-ionic/issues/20) on meteoric repository @nickw introduce this side option like below:

I think it's useful if you like please add this to awesome [meteoric-doc](http://meteoric-doc.meteor.com/)

[2016-02-06 15:38] cyclops24 commented on #12
Hi again @JoeyAndres,
I think that I found a solution:
meteoric use [Snap.js](https://github.com/jakiestfu/Snap.js) and I see that it has a option named `hyperExtending`, I think set this option to false fix this issue (but I don't know where is the right place to set this).
See [this link](http://jakiestfu.github.io/Snap.js/demo/apps/hyperextend.html) for more detail please.

[2016-02-06 18:40] JoeyAndres commented on #12
@cyclops24 Try it again. I havent changed ionic's hyperextending yet, but I removed PEP (Pointer Events Polyfill) and just used native events. PEP contains MutationObserver causing things to be SUPER SLOW and buggy.

Note: I introduced PEP since snap.js wasn't consistent with its native event handlers. I finally found a way to have a more robust native event handlers (thanks to reading iscroll's c

[2016-02-06 18:41] JoeyAndres commented on #11
@cyclops24 I sure will.

[2016-02-06 18:42] JoeyAndres commented on #4
@cyclops24 I still don't understand what's going on here. But try it again with my recent fix. This might be related to that "gap" issue.

[2016-02-07 10:35] cyclops24 commented on #8
@JoeyAndres I think header bar transition not working at all. Do you see that issue?

[2016-02-07 11:39] cyclops24 opened #13 "SideMenu open when tap and pull vertically index page in demo app"
Hi @JoeyAndres ,
I update last version of demo and run on my android device and I has new issue. On the index route when I tap and pull list vertically left SideMenu opened for me. This bug happens in this version and all things OK on previous version.

[2016-02-07 11:48] cyclops24 opened #14 "form checkbox design error on device (Android 4.2 color bleeding)"
Hi @JoeyAndres ,
Form elements OK on web but when I test in on device radio element view is buggy.
See below image for more info:
![form error](https://cloud.githubusercontent.com/assets/8266479/12872114/fdd5a0ec-cdad-11e5-8bc3-d50c6dc29fa1.png)

[2016-02-07 11:51] cyclops24 commented on #4
Hi @JoeyAndres,
Thanks for your attention. Yes it's fixed now. You can close issue.

[2016-02-07 17:22] #4 closed

[2016-02-07 17:25] JoeyAndres commented on #14
@cyclops24 I created a label web and native to deal with this issues. I'll label these stuff native, since they are problems in native devices. I'll work on them today (just woke up, so sorry for late replies).

[2016-02-07 19:43] JoeyAndres commented on #13
My bad. The demo code is outdaded. I forgot to push new ones. Try it again and tell me if it is still a problem.

[2016-02-08 03:33] JoeyAndres commented on #14
@cyclops24 It looks like you built this from the old demo. Like I said in other recent issue, I forgot to push new demo code. It is now "new".

[2016-02-08 03:38] JoeyAndres commented on #8
@cyclops24 Yeah. I'm working on that atm. This part is so ugly (globals in 10 different places), that it took me all sunday.

There is actually two problem, header transition and page transition. What I worked on for today is just page transition (I'm sure the solution is easy for header once page transition is fixed). The following is the prototype solution:

http://jandres-ionic-dev.meteor.com/

[2016-02-08 08:10] JoeyAndres commented on #8
@cyclops24 I have figured a clean and blaze solution for this problem. I'll upload the code tomorrow. I'll sleep now. Anywayz, I appreciate your input in this project. Would've been impossible to spot those without input.

[2016-02-08 08:20] JoeyAndres commented on #9
I'll look into http://stackoverflow.com/a/30162817 answer tomorrow. This is indeed interesting. This is because all ion-content have 'scroll-content ionic-scroll' classes, which perfectly matches his description. I'll let you know when I get to this.

[2016-02-08 11:01] cyclops24 commented on #14
Hi @JoeyAndres,
I test again. It's OK on mobile web browser but when I run [demo app](https://github.com/JoeyAndres/ionic-demo) on mobile use `meteor run android-device` form has above issue.

[2016-02-08 11:07] cyclops24 commented on #10
Hi @JoeyAndres,
Please label this issue to `native` too.

[2016-02-08 11:08] cyclops24 opened #15 "backdrop not working after update"
Hi @JoeyAndres,
Backdrop not working after update.

[2016-02-08 12:05] cyclops24 commented on #12
Hi @JoeyAndres,
Yes I test and it's fixed man.
Thanks for your attention.
I close this issue.

[2016-02-08 12:05] #12 closed

[2016-02-08 16:22] cyclops24 commented on #13
@JoeyAndres Thanks for your reply. Yes It's demo issue and now it's fixed.
I close this issue.

[2016-02-08 16:22] #13 closed

[2016-02-08 16:27] cyclops24 commented on #8
@JoeyAndres Thank you for your kindness. I love meteoric and try to help with report issues. Excuse me for my bad English. :wink:
I'm waiting for your new solution ( :+1:  ).

[2016-02-08 16:31] cyclops24 commented on #9
@JoeyAndres I test that answer and it not working for me. Please give me the news.

[2016-02-08 16:35] cyclops24 commented on #5
Please create new label for **_documents issue**_ if it is useful.
For this issue and [this other](https://github.com/JoeyAndres/meteor-ionic/issues/11)

[2016-02-08 19:41] JoeyAndres opened #16 "ionScroll should not be locked in one axis at a time."
Currently, ionScroll can scroll in one axis at a time. This is due to the default of iscroll (backend of ionScroll).

[2016-02-08 19:59] JoeyAndres commented on #14
@cyclops24 Can you send me your android version. It is working on my android emulator. I'll find a way to upload it to my phone.

[2016-02-09 06:55] cyclops24 commented on #14
@JoeyAndres My device android version is 4.2.1

[2016-02-09 07:29] JoeyAndres commented on #8
@cyclops24 Can't push the solution yet. The fix is easy, but I want this done right since transitions will be the most use feature.

http://jandres-ionic-dev.meteor.com/ is updated

The page transition is now mature, except I need to catch all "back" events. Header is yet to mature. The original version skipped a lot, so lots of work to be done. I'll push the code tomorrow. Today is simply prematu

[2016-02-10 13:03] cyclops24 opened #17 "content not visible on mobile"
Hi @JoeyAndres,
I dive in meteoric and try to create demo application based on your component to find bugs and report here and for more clear refer to codes. This is my demo app repository:
https://github.com/cyclops24/meteoric24-demo

My first issue that I find in meteoric is when I use simple collection each in template it's worked well and show in web mode but run on real android device (with a

[2016-02-10 13:22] JoeyAndres commented on #17
@cyclops24 So if messages is from a collection, how do you point it to a live server? Do you do:

meteor run android-device --mobile-server my_app_name.meteor.com

Otherwise, I don't know if the collection in your local machine is being seen in the first place. Tell me if problem persist.

[2016-02-10 13:22] JoeyAndres commented on #17
See this issue https://github.com/meteor/meteor/issues/3698

[2016-02-10 13:52] cyclops24 commented on #17
@JoeyAndres It's network issue man. I miss 4 hour for this.
Excuse me I think it's a meteoric issue (maybe with ionContent) because app header title and side menu icon lost.

Now it's worked well with `meteor run android-device` in same network.
Thanks again.

[2016-02-10 13:52] #17 closed

[2016-02-11 07:50] JoeyAndres commented on #8
@cyclops24 I think I have completed page/header transitions. It took a while, but its here. http://jandres-ionic.meteor.com/ now have the demo, and master branch 0.1.47-alpha1 should have the new fix. The demo master branch also updated.

I will remove "alpha" when you are satisfied with the result. It's purely almost purely css animation. Once you are satisfied, I'll update the docs for any chang

[2016-02-11 14:04] cyclops24 commented on #8
@JoeyAndres it's worked and well. Thanks man.
But I think animation speed a little high I think a little slower animation is better and more like original ionic page transition.

[2016-02-11 14:12] JoeyAndres commented on #8
@cyclops24 Yeah. That is true. I'll look into that and I'll push another one. Just woke up and got to work now.

[2016-02-11 15:24] cyclops24 commented on #10
I test this issue on an android 5 device and it's OK.
I don't know why but it's still not working on my other android 4.2.1 devices.

[2016-02-11 15:25] JoeyAndres commented on #16
Just pass locking=false as parameter.

[2016-02-11 15:50] JoeyAndres commented on #10
I'm guessing because 4.2 was the last android that does not support css3 animation. 4.3 and onwards support it. What the code should've done is use javascript animation when it doesn't detect css3 animation feature. I just quickly scanned the code, this should be an easy fix.

http://caniuse.com/#search=animation

[2016-02-11 16:24] cyclops24 commented on #10
@JoeyAndres  Thanks for your replay. Based on your replay, I think maybe use some library like [modernizr](https://modernizr.com/) can fix this.

[2016-02-11 17:03] JoeyAndres commented on #10
@cyclops24 Exactly. Was my thought too. The problem with that though is modernizr is relatively HUGE, when we only want to use one feature. My plan is to steal some code, and when another one of this arise in the future, use some meteor package to do the thing.

[2016-02-12 05:13] cyclops24 commented on #10
@JoeyAndres It's interesting for me that is original Ionic also have this issue or only meteoric version has this or maybe cordova version of meteor is outdate?
Because I read somewhere that newer version of Ionic fix css animation and support it.
Do you know anything about this??

[2016-02-12 06:22] JoeyAndres commented on #8
@cyclops24 I have pushed the fixes at 0.1.47-alpha2. The demo sites are also up to date. Tell me if those bug still exist, and I'll get rid of the "alpha".

[2016-02-12 06:37] JoeyAndres commented on #10
That is interesting. I can't really tell which is the problem. Nick. W (the original author of meteoric) copied the whole spinnerController.js from version 0.9.x (somewhere close). By the looks of it, there have been some changes/fixes since then. I'll try to download many emulators from 4.2 onwards and test them.

[2016-02-12 06:40] JoeyAndres opened #18 "ion-infinite-scroll"

[2016-02-12 06:41] JoeyAndres opened #19 "ionHeaderBar noTapScroll parameter."

[2016-02-12 06:42] JoeyAndres opened #20 "ionFooterBar alignTitle"

[2016-02-12 06:43] JoeyAndres opened #21 "Update ionicPopup"

[2016-02-12 06:44] JoeyAndres opened #22 "ionList collectionRepeat"

[2016-02-12 06:45] JoeyAndres opened #23 "Change global namespace to METEORIC"
This is a good idea while there are still small user base.

[2016-02-12 06:49] JoeyAndres opened #24 "Cucumber helper.js"
A bunch of helper function for Cucumber so that developers can implement their own "acceptance testing" faster.

[2016-02-12 06:51] JoeyAndres commented on #14
Seems like transitions is basically done (just need your feedback on that). In the mean time, I'll start working on this.

[2016-02-12 07:05] JoeyAndres opened #25 "ionTab is clunky as hell"
iontab is clunky as hell. Js errors pop here and there.

[2016-02-12 13:19] JoeyAndres opened #26 "Caching for transition"
Utilize caching to speed things up.

[2016-02-12 13:30] cyclops24 commented on #8
Hi @JoeyAndres ,
I test new demo on my devices (one with android 4.2.1 and one with android 5)
Android 4.2.1 animation not shown at all. (I think it's because of the same issue with [this](https://github.com/JoeyAndres/meteor-ionic/issues/10)) and android 5 animation not smooth (some laggy) I think. I don't know why but it's not same as web result.
Do you test this on real device?

[2016-02-12 14:49] JoeyAndres commented on #8
Yeah. I have ran

[code]

and it is actually faster than the web result. I use zenfone, which is relatively fast. What is your device? I'll go look for device like that?

If you want a baseline of the animations in android, see https://play.google.com/store/apps/details?id=com.ionicframework.demoapp862762&hl=en. You might be seeing ios animation in web view, which have "slower" and lots more movem

[2016-02-12 15:03] cyclops24 commented on #8
I have a HUAWEI G610 phone (android 4.2.1 - Quad Core CPU , ...) and a NEXUS 7 tablet (NEXUS 1 WiFi Series with android 5)

[2016-02-13 03:54] JoeyAndres opened #27 "Upgrade ionSideMenu"
Current side menu is too primitive. Although snapper js was modified to be more consistent, there are still many unimplemented features. Especially wrt to 1.2.4

[2016-02-13 04:14] JoeyAndres commented on #11
@cyclops24 http://meteoric-doc.meteor.com/ This is now in doc site.

[2016-02-13 04:14] #11 closed

[2016-02-13 06:17] JoeyAndres commented on #8
@cyclops24 I have emulated 4.2.2 and transitions went great. And again, I used it with my own phone, zenfone with android 5.x and it went well there too.

[2016-02-13 06:35] cyclops24 commented on #8
@JoeyAndres Thanks for your attention. I also test [ionic framework Demo](https://play.google.com/store/apps/details?id=com.ionicframework.demoapp862762&hl=en) and it's demo also not smooth on my phone. Maybe it's my phone issue.
I think that's better to close this issue. I also try to find my phone problem with ionic.

[2016-02-13 06:45] JoeyAndres commented on #8
@cyclops24 No problem.

[2016-02-13 06:45] #8 closed

[2016-02-13 06:46] JoeyAndres commented on #10
@cyclops24 4.2 Emulator is not working well for me. I will not work on this issue until I can buy another old android phone so I can install 4.2.

[2016-02-13 06:46] cyclops24 commented on #27
@JoeyAndres :+1: for SideMenu upgrade. I love SideMenu :heart:

[2016-02-13 06:51] cyclops24 commented on #10
@JoeyAndres What is the android emulator issue?? You can also test on [Genymotion](https://www.genymotion.com/).

[2016-02-13 06:58] JoeyAndres commented on #10
@cyclops24 Lol, I used this 3 years ago in a software engineering course. I remember this being WAYYYYY FASTER. Thanks for reminding me.

[2016-02-13 07:12] JoeyAndres commented on #10
@cyclops24 Nevermind, I'm using fedora 23. They only have ubuntu for linux.

[2016-02-13 07:22] JoeyAndres commented on #10
@cyclops24 I copied ionic 1.2.4's code for this (line for line) and it still doesn't work. I

[2016-02-13 07:59] cyclops24 opened #29 "allow ionNavBackButton without text (only icon)"
Hi @JoeyAndres,
I try to use {{>ionNavBackButton}} with empty text and try to use like this:
```{{>ionNavBackButton text=""}}```
But this component add default value for text property (Back) but I think it's not good because many times I need back button without text (only icon).
I found and see this default value set on [this file](https://github.com/JoeyAndres/meteor-ionic/blob/master/components

[2016-02-13 08:26] JoeyAndres commented on #29
@cyclops24 You are right. I'll address this. Btw, do you want to use gitter so we communicate faster. I'm not planning to sleep for a while.

[2016-02-13 08:33] JoeyAndres commented on #10
@cyclops24 The fix is now pushed. The main problem is

http://caniuse.com/#search=requestAnimationFrame

meaning, a polyfill for that feature is needed, which is what was done.

The only problem is:

Meaning, spinners for android is only the android spinner.

Should this be closed? https://github.com/JoeyAndres/meteor-ionic/issues/7

Tell me if it is working or now.

[2016-02-13 08:45] cyclops24 commented on #29
@JoeyAndres  Yes I go there now. :smile:

[2016-02-13 09:32] #10 closed

[2016-02-13 10:11] cyclops24 commented on #14
@JoeyAndres  I try this on last demo version and It's still buggy.

[2016-02-13 15:25] cyclops24 opened #30 "Pass route parameter to ionItem"
Hi @JoeyAndres,
I success to pass _id through route parameter for below route:
[code]
This is my html:
[code]
But who to pass title parameter for below route:
[code]
I guess now meteoric only support _id (this specific name) because I didn't say in ionItem (I specify only path ``` {{#ionItem path="category"}}```) but meteoric automatically pass _id to route, but how we can pass other route paramet

[2016-02-13 16:04] cyclops24 opened #31 "prevent showing scroll when not needs"
Hi @JoeyAndres,
I found two extra scroll.
One in content of all page like [this](http://jandres-ionic.meteor.com/backdrop):
![scroll1](https://cloud.githubusercontent.com/assets/8266479/13028584/86cb9d50-d288-11e5-8b39-101fef71933c.png)

And another in SideMenu like [this](http://jandres-ionic.meteor.com/sideMenu):
![scroll2](https://cloud.githubusercontent.com/assets/8266479/13028592/a98b3e36-d28

[2016-02-13 18:07] JoeyAndres commented on #30
Based on http://iron-meteor.github.io/iron-router/#pathfor I don't see a way. One of pathFor parameters is data. Which is an object. I don't see a way to assemble an object in template itself without helpers. e.g.

[code]

So you might have to build a template helper like that (I can place this in a todo project). Or for a faster solution a helper in your current template.

[2016-02-14 06:35] JoeyAndres opened #32 "ionContent is primitive"
Make it on par or better than http://ionicframework.com/docs/api/directive/ionContent/

This will probably contain multiple subtask since many things are below this thing.

[2016-02-14 07:16] JoeyAndres commented on #32
Wrap content with {{#ionScroll direction="y" zoom=false}} in ios.

[2016-02-14 07:16] JoeyAndres opened #33 "global platform template helpers."

[2016-02-14 07:18] JoeyAndres opened #34 "ionNavButtons"
Abstract away from contentFor

[2016-02-14 07:18] JoeyAndres opened #35 "nav-transitions"

[2016-02-14 07:19] JoeyAndres opened #36 "nav-direction"

[2016-02-14 08:03] JoeyAndres opened #37 "Change "classes" to just "class""
This is annoying as hell. Why not just "class".

[2016-02-14 09:36] JoeyAndres opened #38 "setRefresher"
See scrollController.js in v1.2.4 tag of ionic repo. It contains _setRefresher which is called when pulling the top of the list.

[2016-02-14 19:16] JoeyAndres opened #39 "Create/Separate platform.js"
Atm, METEORIC.PLATFORM are in utility.js, which should be in its own folder.

[2016-02-14 19:21] JoeyAndres commented on #18
todo: ionScroll should also be a possible parent.

[2016-02-14 19:28] JoeyAndres opened #40 "noop UTILITY"
I find myself using () => {} for a noop function. This should be abstracted away to reduce thinking time, especially for new developers.

[2016-02-14 23:58] JoeyAndres commented on #7
Should be fixed in 0.1.49. Tell me if fixed worked, and close this.

[2016-02-15 00:27] JoeyAndres commented on #14
Do you get the same in emulator. I'm trying to reproduce this bug in an andriod 4.2.\* emulator and I can't.

[2016-02-15 01:09] JoeyAndres opened #41 "events.js in Meteoric"
ionic have events.js. By a quick glance it seems to coalesce all events in one place, making it easier to utilize by other developers. Investigate and implement this.

[2016-02-15 01:28] JoeyAndres commented on #14
@cyclops24 I found https://github.com/driftyco/ionic/issues/1363

The fix is now pushed in latest demo (i believe 0.1.50-alpha1). I have no way of testing (I still can't reproduce it) so tell me if it works.

[2016-02-15 01:34] JoeyAndres commented on #32
Working on this now.

[2016-02-15 18:45] JoeyAndres opened #42 "Investigate lag when transitioning to pages."
Might be related to https://github.com/JoeyAndres/meteor-ionic/issues/26 issue in the backlog, or just some unnecessary js processing.

[2016-02-15 19:09] JoeyAndres opened #43 "Documentation site compartmentalized"
Right now it is literally "single page". EVERYTHING is loaded in a single page. This is abusing mdg's server.

[2016-02-15 20:08] JoeyAndres commented on #42
Wait for Meteor 1.3 release. I'll have to make some huge changes, that would be wasted if Meteor have a solution.

[2016-02-16 03:38] JoeyAndres commented on #42
see https://github.com/peerlibrary/meteor-blaze-components

[2016-02-16 17:00] cyclops24 commented on #42
Hi @JoeyAndres I don't understand your link relation with issue title.

[2016-02-16 17:02] cyclops24 commented on #30
Thanks for replay man. I close issue. :+1:

[2016-02-16 17:02] #30 closed

[2016-02-16 17:14] cyclops24 commented on #7
Hi @JoeyAndres I test new demo app and it's fixed. I close this issue.
Thanks...

[2016-02-16 17:14] #7 closed

[2016-02-16 17:15] cyclops24 commented on #15
@JoeyAndres Backdrop fixed in previous version but in new version it's again not working.

[2016-02-16 17:16] cyclops24 commented on #14
Hi @JoeyAndres I test new demo app and it's fixed well.
Thanks for your attention.

[2016-02-16 17:16] #14 closed

[2016-02-16 19:46] JoeyAndres commented on #42
@cyclops24 I'm looking for a way to cache the template so that we don't have to create/recreate it. blaze-components seems to have a method that does just this. The link is just their for reminders so I can remember.

[2016-02-16 19:48] JoeyAndres commented on #15
@cyclops24 I'll work on this after ionContent is upgraded.

[2016-02-17 05:47] JoeyAndres commented on #32
@see http://pep.briangonzalez.org/ iscroll is too old and annoying.

[2016-02-17 10:08] JoeyAndres commented on #32
Port ionic's controller. Decouple it and make it its own package?

[2016-02-17 17:34] cyclops24 commented on #42
Hi @JoeyAndres, I test [pre-fork demo application](https://github.com/meteoric/demo) (based on [meteoric version](https://github.com/meteoric/meteor-ionic)) in my phone and it's page transition was more smoother than current version. I guess maybe something missed in new page transition implementation and no need template cache for fix this.

[2016-02-17 17:58] JoeyAndres commented on #42
@cyclops24 Thanks for mentioning that. I haven't consider this for some reason. I will definitely get this under control.

[2016-02-22 17:07] cyclops24 commented on #20
I try to do this as you told (copy from ionHeader) but it seems ionHeaderBar not work correctly. See this route that use ionHeaderBar:
http://meteoric-doc.meteor.com/tabs/one

[2016-02-26 08:09] cyclops24 opened #47 "TypeError: IonSideMenu.snapper is null on page without SideMenu"
Hi @JoeyAndres ,
1- Please go to this page: http://jandres-ionic.meteor.com/tabs/one from demo index.
2- Then back
3- This causes below error: (on firebug or developer console)

[code]

I test another code and if layout doesn't have sideMenu this error happens. For example with a layout like this:

[code]

[2016-02-27 04:05] #29 closed

[2016-02-27 07:07] JoeyAndres commented on #32
Finally done.

[2016-02-27 07:26] cyclops24 commented on #32
Yohuuuuuuuuuuuuuuuuuu. I'm going to update package.

[2016-02-27 07:51] JoeyAndres commented on #32
@cyclops24 note, I just pushed few more fixes. Update again.

[2016-02-28 05:14] JoeyAndres commented on #42
Working on this now.

[2016-02-28 12:49] cyclops24 commented on #42
Have a good code man

[2016-02-28 22:25] JoeyAndres commented on #42
@cyclops24

### Base Line: (The code prior to optimization):

| Page | Start (original nick w.) | End (original nick w.) | Start (new) | End (new) | Duration(orignal) | Duration(new) | Diff | Diff % |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Action Sheet | 530 | 635 | 1360 | 1560 | 105 | 200 | 95 | 90.4% |
| Backdrop | 980 | 1070 | 2240 | 2400 | 90 | 160 | 70 | 77.7777% |
| Forms

[2016-02-28 22:26] JoeyAndres commented on #42
@cyclops24  Tell me if you have problem with this solution. If not, I'm going to deprecate ionIcon.

[2016-02-29 12:50] cyclops24 commented on #42
Hi @JoeyAndres
You tell right. I don't know why using blaze component rather than simple CSS class and ‍‍‍‍‍‍‍‍‍`<i>` tag for icon.

[2016-03-01 19:56] skirunman opened #49 "Add support for FlowRouter"
[FlowRouter](https://github.com/kadirahq/flow-router) is now the recommended router by MDG and IronRouter has limited support going forward. Therefore, it would be awesome if you could integrate in support for FlowRouter. It looks like there is already a port to FlowRouter https://github.com/txs/meteor-wecare-ionic-flow/ and this was previously discussed https://github.com/meteoric/meteor-ionic/is

[2016-03-01 21:35] JoeyAndres commented on #49
@skirunman For sure.

[2016-03-03 05:29] #42 closed

[2016-03-03 16:39] txs commented on #49
@skirunman  txs here! Do you have issue with my package? I'm here to help

[2016-03-03 19:04] JoeyAndres commented on #49
@skirunman @txs I'll let you too sort this out before I start this thing.

[2016-03-03 21:27] skirunman commented on #49
@txs No issue with you package. it looks like @JoeyAndres was adding new features though and looking to possibly even integrate in some Ionic 2 features. Would be awesome to have one supported package going forward that supports FlowRouter.

[2016-03-04 03:56] txs commented on #49
@JoeyAndres  Cool! Please work on ionic2. If you need me to do the FlowRouter part. I can help. I'm recently playing with framework7. So might have a package about that.

[2016-03-04 06:08] JoeyAndres opened #51 "Integrate ionic's controller/utils/views libraries"
Integrate ionic's controllers/utils/views libraries. utils/views are framework independent (they don't care if you are in angular), controller's on the other hand need some code change. All of these are essential so we only have to reinvent the platform dependent parts. #32

[2016-03-05 04:52] JoeyAndres commented on #51
All is now added. Controllers need some work though, but that will be touch upon as we use them.

[2016-03-05 04:55] JoeyAndres commented on #2
Naturally taken care by #51 since we just use the existing views/controllers/utilities.

[2016-03-05 05:04] JoeyAndres commented on #15
@cyclops24 Sorry to bother you again. It's been a while since I've look at this. But can you check again? I just tested this in both my old (android 4.3) and new phone and I can see the backdrop.

[2016-03-05 05:06] JoeyAndres commented on #23
I'm just gonna follow the ionic's way and just have it as all lowercase, e.g. "meteoric". @see #51

[2016-03-05 05:06] JoeyAndres commented on #39
Integrated original platform.js #51

[2016-03-07 11:46] DanielDornhardt opened #52 "Initial Slide in of Content - Where is that from? Should it be there? Can I disable it?"
Hi,

i'm trying to use this meteoric branch at the moment, and after getting around some other issues I'm working on, I noticed that the content always "slides in" from the right on the first load of any page, no matter if it's a subpage or the index page of the whole app.

See it here: http://jandres-ionic.meteor.com/ - just press reload and see the content slide in from the right.

I think that'

[2016-03-07 13:05] DanielDornhardt commented on #52
For now i've just commented out the import of _transitions.scss in the package itself since I don't need transitions myself at the moment.

But I think it'd be nice to be able to control this better.

[2016-03-07 14:26] DanielDornhardt commented on #49
Hi everybody,

I've started on a branch going for router-independence here: https://github.com/DanielDornhardt/meteor-ionic/tree/flow-integration (make sure to checkout the flow-integration branch!)

I'm trying to use https://github.com/nicolaslopezj/meteor-router-layer as a basic abstraction layer of both Flow-Router and Iron-Router.

The good news: I think this is good enough now for _my_ uses a

[2016-03-07 14:54] JoeyAndres commented on #52
@DanielDornhardt Yeah, transitions is in its primitive stage. I have recently integrated original ionic controllers and this should handle that better.

[2016-03-07 15:44] DanielDornhardt commented on #52
Hey, great to see you're busy about the project at the moment! I think Meteoric is a really valuable Mobile Framework for Meteor and it's great to see that it's not falling into disrepair.

[2016-03-07 16:16] DanielDornhardt opened #53 "Why no more "ionIcon"?"
Hi, sorry, but i'm curious: Why did you get rid of "ionIcon"? Is there an alternative we should be using?

[2016-03-07 16:43] JoeyAndres commented on #53
@DanielDornhardt see #42

The extra unnecessary template is introducing many delays on old devices. Since ion-icon is not really a directive in the original ionic, I discarded it and in #42, I showed performance comparison with/without it.

[2016-03-08 08:36] DanielDornhardt commented on #53
Hi, thank you for the info and the link!

[2016-03-08 14:30] JoeyAndres commented on #53
@DanielDornhardt no problem. I guess, I'll close this.

[2016-03-08 14:30] #53 closed

[2016-03-08 14:31] JoeyAndres opened #54 "migration guide"
Add a [meteoric/meteor-ionic](https://github.com/meteoric/meteor-ionic) migration guide in the documentation website.

[2016-03-08 14:38] JoeyAndres commented on #27
Just to document the features that will be added (along with the original ionic controller) is:
- menu-close
- menu-toggle
- ionicSideMenuDelegate
- expose-aside-when

[2016-03-08 15:12] cyclops24 commented on #54
Hi @JoeyAndres
As a suggestion I recommend to add version number to documentation website so users can simply know when it's update. Small version number (edition number) under title in [online document](http://meteoric-doc.meteor.com/) can be useful I guess.

[2016-03-08 15:28] cyclops24 commented on #15
Hi I test and it's fixed (you can close this issue).
But I had a issue with list in new version demo (one click on list item not working and I must tap on item multiple time to enter new page) can you test this on phone??

[2016-03-08 15:28] JoeyAndres commented on #54
@cyclops24 good idea.

[2016-03-08 15:51] #15 closed

[2016-03-08 15:52] JoeyAndres commented on #41
This and among other controllers/services are now integrated, #51

[2016-03-08 20:06] JoeyAndres commented on #15
@cyclops24 Yeah for that list thing, I have figure out the problem. see [dev](http://jandres-ionic-dev.meteor.com/). I haven't publish this one yet.

[2016-03-09 06:33] JoeyAndres opened #55 "$ionicHistory"
$ionicHistory delegate.

[2016-03-09 06:47] JoeyAndres opened #56 "ionSlideBox is broken"
Due to the removal of all non-ionic controllers, ionSlideBox was broken. Utilize the ionic controllers and make this work again.

[2016-03-09 06:50] JoeyAndres commented on #27
Note that this broke #56 due to the removal of all non-ionic controllers. This should easily be fixed. And to test expose-aside-when, try opening the [demo](http://jandres-ionic.meteor.com) in a big screen, or any non-mobile screen (> 768px).

[2016-03-09 06:54] JoeyAndres commented on #54
I'm going to investigate auto-generating documentation for #5 and this #54 this weekend. ionic autogenerates from comment, this should be possible.

[2016-03-09 14:45] JoeyAndres opened #57 "gestures and events"
Gestures like http://ionicframework.com/docs/api/directive/onHold/ would be nice. Considering now that there is a pattern for converting non-element angular directives to blaze, this should be easy.

[2016-03-10 04:09] JoeyAndres commented on #56
In the [_nightly_](http://ionicframework.com/docs/nightly/api/directive/ionSlideBox/) version of ionic, they have documented that **ionSlideBox** will be deprecated in favour of ionSlides:

That being said, this is now implemented, all with the original ionic controller as usual.

[2016-03-10 04:11] JoeyAndres commented on #25
I'm going to work on this, then do #49 .

[2016-03-10 04:14] JoeyAndres commented on #31
@cyclops24 There have been lots of changes involving ionSideMenu lately. I know you are sick atm, but when you have time, can you check if this thing still exist.

[2016-03-11 05:53] txs commented on #49
Cool
On Mar 4, 2016 5:27 AM, "skirunman" notifications@github.com wrote:

[2016-03-11 10:42] DanielDornhardt opened #60 "Links click events not triggering on ios with latest version anymore?"
Hi, I don't know excactly what made it break, but with the latest version on ios links don't seem to trigger click events properly.

A fast double-tap seems to work. Also when I change event handlers to "touchstart" instead of "click" they work as well.

I can observe this behavior in our app and also in the demo app.

I bisected it down to this commit: https://github.com/JoeyAndres/meteor-ionic/c

[2016-03-11 11:10] DanielDornhardt commented on #40
`_.noop()` : http://underscorejs.org/#noop

[2016-03-11 11:11] DanielDornhardt commented on #40
Even the name is the same as you're thinking :)

[2016-03-11 13:51] DanielDornhardt commented on #60
Hi, I think it is because of the fastclick package which is actually included as a dependency of jandres:ionic.

See here: https://github.com/JoeyAndres/meteor-ionic/commit/6d5894ae323f6b9de03ec53f4954c77e3688fc83#diff-4947a0503762c3d79cc525d7a9876dfaR13

file lib/utils/tap.js, lines 13 - 16:

Now, when you remove fastclick from package.js and also make sure that it's not included via some other d

[2016-03-11 15:25] JoeyAndres commented on #60
@you are right. The Ionics event module is probably conflicting with fast click. Should we throw an error when fast click is detected? I've seen packages doing that.

[2016-03-11 17:34] DanielDornhardt commented on #60
Hi, I think that'd be a terrific idea, especially because fastclick appears as a 2nd or third-level-dependency in at least a handful of common packages.

Especially the dependency on "meteor-platform" which contains fastclick, but isn't "current" anymore (should probably be exchanged for a newer set of packages or the required individual dependencies) leads to some packages still pulling in fastcl

[2016-03-11 20:05] JoeyAndres commented on #60
OK will work on this immediately. I was planning on failing instead of just a warning.

[2016-03-11 20:10] JoeyAndres commented on #40
Sure will definitely use that.

[2016-03-12 08:57] cyclops24 commented on #60
Hi @JoeyAndres I have same issue on android too just want to tell man :wink:

[2016-03-12 20:06] DanielDornhardt opened #61 "menu-close directive / attribute no longer working?"
Hi, it seems there's no way to make elements close the sidebar on / after click anymore?

the attribute menu-close (as seen in the demo) doesn't seem to work anymore, as does ion-data-menu-close or putting any of the above as classnames into the class - attribute.

And I don't even see how I can close the menu via javascript manually, which at least would it possible for me to create a workaround.

[2016-03-12 20:41] JoeyAndres commented on #61
@DanielDornhardt Sorry for the problem. First and foremost, this thing is not stable. What browser/device are you testing menu-close? It works on mobile mode in chrome but once the width of the screen width >768, the exposeAsideWhen="large" is activated and the side menu is always expose then.

I'll amend README and mark this as UNSTABLE.

[2016-03-14 08:16] DanielDornhardt commented on #61
Hi, i'm not sure what you mean with mobile mode in chrome...

With the latest version, when added to the demo app I can't close the side menu by clicking  "Close Me" button inside the left side menu, no matter which size.

I think you got rid of the "snapper"? So I can't even close it manually. IonSideMenu.close() isn't implemented anymore either I think.

Sooo..

---

What I'd like to see would b

[2016-03-14 16:10] JoeyAndres commented on #61
@DanielDornhardt Yeah, I'll tag the meteoric one. My bad about that. I'll make an experimental branch as of this. I'll discuss this later (menu-close), work atm. If possible, is the menu-close outside or inside the ionSideMenuContainer?

[2016-03-14 18:30] DanielDornhardt commented on #61
Hey Joey,

it's inside of `{{#ionSideMenuContainer}}` - but it's possible that it gets set dynamically / via a helper or somesuch or that it's actually rendered from inside another child template sometimes.

In the demo it's just plain inside of `{{#ionSideMenuContainer}}` .

I couldn't actually find _any_ place where it would be read in the meteoric code - how should the detection of the attribut

[2016-03-14 20:00] JoeyAndres commented on #61
@DanielDornhardt It should be around here: https://github.com/JoeyAndres/meteor-ionic/blob/master/lib/blaze.js#L5 and then [here](https://github.com/JoeyAndres/meteor-ionic/blob/master/components/menuToggle/menuToggle.js#L18) it gets attached to a click event. I guess you can check if $element exist, or if the menuToggle "delegate" is being initialized in the first place.

In the mean time, I also

[2016-03-21 04:49] JoeyAndres opened #62 "Introduce $scope, $preLink/$postLink for meteor templates."
We need a robust $scope, $preLink/$postLink so that the ionic controllers integrates easily.

Angular's **$preLink** is called when traversing downwards, then **$postLink**, when traversing upward the DOM tree.

Blaze only traverse DOM tree one way, upward with **onRendered**.

In angular, for a directive, **$preLink** is called first before **$postLink**. By the looks of it, we don't really have

[2016-03-21 05:12] JoeyAndres commented on #51
Needs #62

[2016-03-21 06:20] JoeyAndres commented on #62
@see [wip-62](https://github.com/JoeyAndres/meteor-ionic/tree/wip-62) for $scope prototype. See wip-62  branch for demo repo.

[2016-03-21 07:09] JoeyAndres commented on #54
See https://github.com/jsdoc3/jsdoc/issues/1144

[2016-03-22 05:48] cyclops24 commented on #62
@JoeyAndres It's very interesting and I guess it's simplify many future integrations.

[2016-03-22 15:38] JoeyAndres commented on #62
For documentation purposes, scoping is refactored out as a package in itself, https://github.com/meteoric124/meteor-template-scope. I have added tests and found some bugs. My current test cases are:
1. static templates
2. dynamic templates

The following cases that needs tests is layout or `{{yield}}`.

[2016-03-23 05:20] #62 closed

[2016-03-23 05:45] #51 closed

[2016-03-23 05:45] JoeyAndres commented on #51
See wip-51 branch.

[2016-04-06 03:20] cyclops24 commented on #49
I see this about support multiple routers in Meteor packages:
https://github.com/nicolaslopezj/meteor-router-layer
Maybe useful and simplify FlowRouter support. :wink:

[2016-04-08 13:30] txs commented on #49
Thanks for the info. Currently busy! Will help soon :D

2016-04-06 11:20 GMT+08:00 Ba Ba K notifications@github.com:

[2016-04-12 10:52] cyclops24 opened #63 "not working with Meteor 1.3.1"
Hi @JoeyAndres,
I update [demo application](https://github.com/meteoric124/meteoric-demo) master branch to 1.3.1 and then project not working at all and return this error on client and show iron-router error page:

[code]

You can see this here too:

![meteoric](https://cloud.githubusercontent.com/assets/8266479/14457753/17a727ba-00c2-11e6-81d5-722da5c258d6.png)

[2016-04-15 16:53] cyclops24 opened #64 "Please document this feature as an example in new docs"
Hi @JoeyAndres ,

I try to add dynamic title to my page with codes like this:

[code]

But template data (set w ironRouter) shows up in content but does not appear in headerTitle.
Finally I find [this related](https://github.com/meteoric/meteor-ionic/issues/31) question on Nick meteoric repository and change my code like below and everything OK now:

[code]

I think hidden features like this can m

[2016-04-18 19:31] lorensr opened #65 "Upgrade to Ionic 2"
It's supposed to have a lot of improvements, including a different native-like UI for Android.

Might be a huge undertaking, but could keep this issue to track the idea & who's interested. Currently you have to use Meteor with Angular 2 in order to use Ionic 2.

[2016-04-27 10:49] cyclops24 opened #66 "Exception from Tracker recompute function"
Hi @JoeyAndres some page has ```Exception from Tracker recompute function``` error I try to refer page from demo app here man.

1. http://meteoric-demo.com/headersFooters/defaultCenterAlign
[code]

[2016-04-27 11:04] cyclops24 opened #67 "Ionic 1.3.0 released"
Hi @JoeyAndres,

Ionic 1.3.0 released and it's contain many bug fixes. (maybe some of Meteoric issues also fixed by upgrade to ionic 1.3.0).

I open this issue to discuss about new features and upgrade roadmap and tasks.

It's [ionic blog news](http://blog.ionic.io/announcing-ionic-1-3/) and it's [change log](https://github.com/driftyco/ionic/blob/master/CHANGELOG.md).

Thanks for your attentions.

[2016-04-27 11:07] cyclops24 commented on #63
@JoeyAndres do you have any idea that why Meteoric 1.0.0 not working with Meteor 1.3 but Meteoric 1.2.4 alpha (or beta) works well with Meteor 1.3?

[2016-04-27 11:13] cyclops24 commented on #66
1. http://meteoric-demo.com/headersFooters/rightAlign
2. http://meteoric-demo.com/headersFooters/leftAlign

[2016-04-27 11:18] cyclops24 opened #68 "Modals needs backdrop on large screen"
Hi @JoeyAndres ,
Please compare [Meteoric modal](http://meteoric-demo.com/modal) and [Ionic modal](http://codepen.io/ionic/embed/gblny?default-tab=result&slug-hash=gblny&theme-id=3572&height=568&user=ionic#result-box). It's not same now and Meteoric version needs some backdrops.

See above links or below images man:
![modal](https://cloud.githubusercontent.com/assets/8266479/14852509/fe2b7530-0c9b

[2016-04-27 12:49] cyclops24 commented on #68
@JoeyAndres Meteoric modal also has an extra horizontal scroll that visible in above image.

[2016-04-27 12:56] cyclops24 opened #69 "Prompt popup "TypeError: KeyboardEvent.code is undefined" on keyup"
Hi @JoeyAndres,

Please visit [this page](http://meteoric-demo.com/popup) click on **show prompt** button and type anything in input element, then client console show this error on keyup event:
[code]

[2016-04-27 13:00] cyclops24 opened #70 "SideMenu not working in demo app"
Hi @JoeyAndres,

unfortunately SideMenu not Working in related demo page: http://meteoric-demo.com/sideMenu

I don't know why. As I seen all thing is OK in code and no error exist in console.

[2016-04-27 13:05] cyclops24 commented on #67
@JoeyAndres I read change logs and I think many of style and CSS fixes can be fetch by update https://github.com/meteoric124/meteoric-sass repository without extra work.

[2016-04-27 23:25] JoeyAndres commented on #66
I forgot to update the demo. I'll update the demo.

[2016-04-27 23:57] #66 closed

[2016-04-28 00:01] JoeyAndres commented on #70
Note: side-menu is disabled when back view is available (this can be change via config or something). Check again.

[2016-04-28 04:55] cyclops24 commented on #70
Thanks man. :+1:

[2016-04-28 04:55] #70 closed

[2016-04-28 05:04] cyclops24 commented on #66
Thanks @JoeyAndres but now some of previous example removed or be same for example all below page have same content:

http://meteoric-demo.com/headersFooters/header
http://meteoric-demo.com/headersFooters/header/alignTitle
http://meteoric-demo.com/buttons/headers-footers
http://meteoric-demo.com/buttons/headers-footers/clear

So **clear button example**, **alignTitle** and **header footer button**

[2016-04-28 07:11] cyclops24 commented on #70
@JoeyAndres please push latest demo commits to related repo. I need to learn SideMenu config that you said.

[2016-04-28 14:09] JoeyAndres commented on #70
@cyclops24 Ill change the meteoric-doc

[2016-04-29 00:33] #18 closed

[2016-04-29 00:33] #21 closed

[2016-04-29 00:34] JoeyAndres commented on #21
No problem with current implementation.

[2016-04-29 00:37] #27 closed

[2016-04-29 00:38] #23 closed

[2016-04-29 00:38] #32 closed

[2016-04-29 00:38] #20 closed

[2016-04-29 00:39] #55 closed

[2016-04-29 00:40] #24 closed

[2016-04-29 00:40] #34 closed

[2016-04-29 00:40] #35 closed

[2016-04-29 00:40] #36 closed

[2016-04-29 00:41] #39 closed

[2016-04-29 00:41] #57 closed

[2016-04-29 00:41] #56 closed

[2016-04-29 00:42] #16 closed

[2016-04-29 00:42] #2 closed

[2016-04-29 00:42] #41 closed

[2016-04-29 00:44] JoeyAndres commented on #5
I will close this in favour of the doc site. meteoric-doc.com

[2016-04-29 00:44] #5 closed

[2016-04-29 01:08] JoeyAndres commented on #66
I fixed it. Most of it is conflict between ionNavBar and ionHeaderBar, so if you don't want to use ionNavTitle `{{#ionView title="title"}}`, and instead want to use `{{#ionHeaderBar}}`, you must use simpleLayout. Close this if this fixes your issue.

[2016-04-29 02:16] cyclops24 commented on #6
@JoeyAndres this issue same as [this](https://github.com/meteoric124/meteoric/issues/65) from @lorensr. So I close mine.

[2016-04-29 02:16] #6 closed

[2016-04-30 02:56] JoeyAndres commented on #64
@see http://meteoric-doc.com/meteor-ionic-to-meteoric

[2016-04-30 02:56] #64 closed

[2016-04-30 02:56] JoeyAndres commented on #54
http://meteoric-doc.com/meteor-ionic-to-meteoric

[2016-04-30 02:56] #54 closed

[2016-04-30 02:57] JoeyAndres commented on #63
I'll close this. This was caused when my versioning was messed up (1.24 instead of 1.2.4) as we discussed in private in gitter.

[2016-04-30 02:57] #63 closed

[2016-04-30 02:57] #37 closed

[2016-04-30 02:58] JoeyAndres commented on #25
Basic implementation is up, http://meteoric-doc.com/api/directive/ionTabs/, still needs further refinement.

[2016-04-30 03:31] cyclops24 opened #71 "Documentation non-stop refresh issue"
@JoeyAndres when I browse page myself from menu any things OK but when I enter documentation site from external URL for example issues page it's always refreshed non-stop.

for example enter documentation from below links:

http://meteoric-doc.com/meteor-ionic-to-meteoric
http://meteoric-doc.com/api/directive/ionTabs/

[2016-04-30 03:38] cyclops24 commented on #71
@JoeyAndres as you said it's a browser cache issue. It's fixed when I clear my browser cache.

[2016-04-30 03:38] #71 closed

[2016-04-30 10:19] cyclops24 opened #72 "Docs related small issues and suggestion"
Hi @JoeyAndres I open this issue to post probable small issue on http://meteoric-doc.com
We can close this when all things OK. :wink:

[2016-04-30 10:24] cyclops24 commented on #72
# 1

Some times in http://meteoric-doc.com/meteor-ionic-to-meteoric page `meteoric:ionic` logo not load correctly like this:

![meteoric to meteoric124](https://cloud.githubusercontent.com/assets/8266479/14935336/0c3bc49c-0ee3-11e6-9654-db6a9daf5bed.png)

I check and see that `meteoric:ionic` logo refer to http://f.cl.ly/items/391y4708420P0H001k1G/meteoric.png but `meteoric124:meteoric` logo refer

[2016-04-30 10:26] cyclops24 commented on #72
# 2

`Getting Start` link in side menu refer to http://meteoric-doc.com/api/service/$ionicActionSheet that I think it's wrong.

[2016-04-30 10:27] cyclops24 commented on #72
# 3

`Docs` link in top menu refer to http://meteoric-doc.com/api/object/$ionicLoadingConfig that I think it's wrong.

[2016-04-30 10:36] cyclops24 commented on #72
# 4

I think it's better to add a favicon.ico to http://meteoric-doc.com

I create one icon based on meteoric logo here:
[favicon.ico.zip](https://github.com/meteoric124/meteoric/files/243550/favicon.ico.zip)

[2016-04-30 22:16] JoeyAndres commented on #72
2 is now fixed.

[2016-04-30 22:18] JoeyAndres commented on #72
1 is now fixed.

[2016-04-30 22:23] JoeyAndres commented on #72
3 Shouldn't be there, we actually still use the original meteoric one. I'll remove it in the sidebar so no one can access it.

[2016-04-30 22:29] JoeyAndres commented on #72
favicon.ico is now integrated. Thank you for that.

[2016-05-01 03:09] JoeyAndres commented on #70
Add `enableMenuWithBackViews=true` to `ionSideMenus`

[2016-05-01 18:37] JoeyAndres commented on #60
fastclick click is now detected and error is thrown.

[2016-05-01 18:37] #60 closed

[2016-05-01 18:38] JoeyAndres commented on #47
Not relevant anymore, now that IonSideMenu is not used.

[2016-05-01 18:38] #47 closed

[2016-05-02 05:55] daveeel opened #73 "Remember list position when back from subpage ?"
Say in the demo: meteoric-demo.com, when I click "Radio" to the radio page, then "Back" to the big list, the expected behaviour is to stay at where I enter subpage. However the list goes to start from the first item "Action Sheet". Is it possible to remember the parent list position ?

[2016-05-02 13:58] JoeyAndres commented on #72
I'll close this. I think we should stick with one story per issue so we can keep track of them.

[2016-05-02 13:58] #72 closed

[2016-05-02 13:58] JoeyAndres opened #74 "Doc site have no "CSS Components" section."
We need something like this http://ionicframework.com/docs/components/

[2016-05-03 05:03] JoeyAndres commented on #73
@daveeel From the original ionic, this is handled by caching the last page. I'll try to make a work around by having history keep track of scroll position or something. I'll post a branch here to test.

[2016-05-03 05:21] cyclops24 commented on #72
@JoeyAndres you right. OK man.

[2016-05-07 01:28] lorensr commented on #65
Looks like the community is moving away from Blaze to React. Especially since it's relatively easy to [mix Blaze and React](http://guide.meteor.com/react.html) for legacy apps, might be nice to combine efforts on a React Ionic 2:

https://github.com/reactionic/reactionic/issues/2

[2016-05-08 06:37] #43 closed

[2016-05-08 06:37] JoeyAndres commented on #43
I'm using my own server so I don't care.

[2016-05-08 06:55] cyclops24 commented on #65
@lorensr I agree with you but, I think Blaze still have their own fans. For example I really love Blaze because It's more simpler and for my projects and my start-up scale it work's well so I think It's really depend on project scale and It's a big mistake if all of community move to React without any reason.

It's so good to improve things and switch to new technology but when we need it. Not jus

[2016-05-08 23:13] JoeyAndres commented on #73
@daveeel I have pushed beta.18. Tell me how it goes.

[2016-05-08 23:14] #40 closed

[2016-05-08 23:33] JoeyAndres commented on #65
@lorensr Me and @cyclops24 were thinking of divorcing from blaze. We were thinking of using polymer, considering it is using the webcomponent technology which is currently being standardised in w3c and some of its functionality is already native in chrome. We were thinking that this will be a npm package and meteor package, meaning it will be independent of meteor framework too. This way we maximi

[2016-05-08 23:41] JoeyAndres commented on #25
In light of #73 causing a discovery and fix to a core view bug (ionTab now renders content on the fly when selected and Blaze.render(contentBlockTemplate, elem) now have right parent) this doesn't exist anymore, as far as I could tell. I'll close this for now.

[2016-05-08 23:41] #25 closed

[2016-05-08 23:42] JoeyAndres commented on #26
#73 does not render content till later. The same thing could be done here.

[2016-05-08 23:57] lorensr commented on #65
@cyclops24 I think Blaze is simpler to use as well (not to mention things like useraccounts and autoform), and it might the best choice for simple things.

If you wanted to go for maximum usefulness to others, then I think you'd have more people using it (and probably helping develop) if it were done in React than if it were done in Blaze or Polymer. Compare 15k GH stars on polymer vs 40k on React

[2016-05-09 00:00] JoeyAndres commented on #65
@lorensr Thanks for the input. Me and @cyclops24 will discuss this again later.

[2016-05-09 00:27] JoeyAndres commented on #68
done.

[2016-05-09 00:27] #68 closed

[2016-05-09 00:30] JoeyAndres commented on #31
This only exist in desktop mode imo. Can you check and close this one?

[2016-05-09 00:31] JoeyAndres commented on #9
@cyclops24 I don't know how to solve this. I simply can't reproduce this. I'll close this for now.

[2016-05-09 00:32] #9 closed

[2016-05-09 00:35] JoeyAndres commented on #33
Not relevant anymore considering that we are now using ionic libraries.

[2016-05-09 00:35] #33 closed

[2016-05-09 01:52] JoeyAndres commented on #19
done

[2016-05-09 01:52] #19 closed

[2016-05-09 02:02] JoeyAndres commented on #61
Recent changes to template-scope/template-attribute directive should've fix this. Feel free to reopen if experiencing this issue again.

[2016-05-09 02:02] #61 closed

[2016-05-09 02:02] JoeyAndres commented on #52
Integration of ionic controllers should've fix this. Feel free to reopen this when problem arise.

[2016-05-09 02:02] #52 closed

[2016-05-09 02:51] JoeyAndres commented on #65
@lorensr Also one more thing. I'll just finish this one (1.2.4 or 1.3) so this will not haunt me later in life. Rest assured me and @cyclops24  are dying to start a meteor agnostic one.

[2016-05-09 13:28] daveeel commented on #73
Thanks @JoeyAndres , it's now much better. However I noticed if the list item at top is not aligning exactly at it's top margin (should be most cases), the list will first align to the item's top margin, then jump to the expected original location. That makes it feel a bit unnatural. Test results are the same on both iPhone mobile Safari and Mac Chrome simulation.

[2016-05-09 13:38] JoeyAndres commented on #73
@daveeel Ok, I'll get rid of the animation feature, just a matter of passing false instead of true. You are right, that is weird. I'll do this after work.

[2016-05-10 00:26] JoeyAndres commented on #73
@daveeel I have pushed beta.20. Tell me again how it goes.

[2016-05-10 01:50] daveeel commented on #73
The demo is great now 👍

[2016-05-10 01:50] #73 closed

[2016-05-10 04:36] JoeyAndres commented on #69
@cyclops24 I go to the page. I think this is fixed with the recent updates to the core.

[2016-05-10 04:37] JoeyAndres commented on #69
@cyclops24 Nevermind, the error is still there.

[2016-05-11 01:04] JoeyAndres commented on #69
@cyclops24 I fixed it in beta.22

[2016-05-11 01:04] #69 closed

[2016-05-16 14:31] alexandesigner opened #75 "Identity proposal"
@JoeyAndres I've been analyzing the project during these two days and I was wondering how I could contribute ... at first I worked in a visual identity similar to what you've done:
![main-logo](https://cloud.githubusercontent.com/assets/3044907/15292446/85395620-1b59-11e6-8e84-9e1f6d20fa03.png)
![favicon](https://cloud.githubusercontent.com/assets/3044907/15292479/a308866c-1b59-11e6-878e-8eb63aa18

[2016-05-16 14:33] alexandesigner opened #76 "Documentation"
In addition, I would like to begin the contributions documenting what's been done.. my proposal is to follow the model that the Meteor has been using in your projects (guide, apollostack) to document and be based on Ionic documentation to display the components.. I wonder if you could create a branch for documentation, to encourage PR

[2016-05-16 14:35] alexandesigner commented on #74
Want to contribute ... See https://github.com/meteoric124/meteoric/issues/76

[2016-05-16 14:45] alexandesigner commented on #76
I suggest be created the repository `docs` in `meteoric124` organization. To encourage PR

[2016-05-16 17:32] JoeyAndres commented on #75
Purty neat. I'll change it when I have time, or you can make a pr.

[2016-05-16 17:36] JoeyAndres commented on #76
Yeah sure I would love another contributor. Currently though, I extract documentation from JavaScript and extract them to a meteor file. I'll need to read into that stuff you are talking about (apollostack).

[2016-05-16 17:43] alexandesigner commented on #76
How can I access it? So I can better understand. You will create the repository of documentation in organization?

No need, I just showed you an example. They use the Hexo (hexo-meteor-theme) to document with markdown of github, is more simple edit and encourage contributions.

[2016-05-16 17:45] alexandesigner commented on #75
I can take care of these graphic parts.. I'll will do the PR

[2016-05-16 18:48] JoeyAndres commented on #76
@alexandesigner It is generated by gulp. I'll try and document it. It uses dgeni, used by the original ionic, also very new, and barely documented. Eitherway, it might be a good idea to have a new repo. Atm, I generate it in every new version.

[2016-05-25 07:34] cunneen opened #77 "Remove dependency on meteoric124:meteoric-sass"
The hard dependency makes it very awkward to set up custom colours etc; the CSS needs to be overridden rather than just customizing the variables in scss .

[2016-05-30 03:52] cunneen opened #78 "modal not working in native app"
iOS 9.3 - simulator or device - the modal doesn't work as part of a cordova app, but works fine on the same device if opened via a website in safari. The issue can be reproduced on the meteoric-demo.com codebase via ```meteor run ios-device```.

[2016-05-30 09:58] cunneen opened #79 "Incompatibility with aldeed:template-extension@4.0.0"
The client gets errors referencing $scope if [aldeed:template-extension](https://github.com/aldeed/meteor-template-extension) is included. To reproduce, just:

```meteor add aldeed:template-extension@4.0.0```

[2016-06-01 16:21] JoeyAndres commented on #79
@cunneen Yeah, this is because I am using a forked version of aldeed:template-extension, which I believe is jandres:template-extension. I'll fix this.

[2016-06-01 16:22] JoeyAndres commented on #78
Yeah, don't have an ios machine to test. This will take awhile.

[2016-06-01 16:22] JoeyAndres commented on #77
Right.

[2016-06-28 10:31] akhatri opened #80 "upgrade from meteoric not working"
I am migrating my app from the earlier meteoric package to this one but I am having few issues with it.
I have done a meteor update to the latest version, and migrated everything else as per the migration guide. The console throws these errors which I am not sure of

![screen shot 2016-06-28 at 8 31 16 pm](https://cloud.githubusercontent.com/assets/2246544/16412391/4d45b9d8-3d6f-11e6-91bf-c0263c82

[2016-07-18 10:41] aboire opened #81 "not compatible meteor 1.3.4.4"
Uncaught TypeError: Promise.denodeify is not a function
Uncaught TypeError: Cannot read property '$ionicGesture' of undefined

[2016-09-11 13:27] lj222kj opened #82 "Project status?"
Hi, is it safe to assume that the project is no longer being maintained to keep up with the latest meteor versions?

[2016-11-08 08:11] ghost commented on #82
I guess that's a yes?

[2016-12-06 02:08] RobGordon406 opened #84 "Select input not firing on Android devices"
I have an application that has been in production for more than 2 years.
Recently some upgrade has caused every Select input field to no longer fire on Android devices.
**They still work on iOS devices.**

here's an example of HTML
`                          <label class="item item-input">
                            <span class="input-label">Physio</span>
                            <select id="s

[2017-10-20 01:11] #49 closed

[2020-11-23 13:44] #82 closed